.term_fit {
    padding-bottom: 0 !important;
}

.tabs_title,
.tab_textInner {
    color: rgba(255, 255, 255, 0.9);
    font-family: "SF Pro Text";
    font-size: 11.5px;
    opacity: 1;
}
.tab_active {
    box-shadow: inset 2px 0 0 #f39c12;
    background: #131313;
}
.tabs_nav > .tabs_title {
    background: #131313 !important;
    border-radius: 10px 10px 0 0;
    height: 100%;
    color: transparent;
}
.tabs_nav {
    background: rgba(0, 0, 0, 0.2);
}
.tab_tab:not(.tab_active) {
    background: rgba(0, 0, 0, 0.2);
}
.tab_tab:not(.tab_active) span {
    color: rgba(255, 255, 255, 0.2) !important;
}
